.sideBar {
  border-right: 1px solid #71767B;
  width: 20%;
}
.sideBar__header {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  height: 50px;
}
.sideBar__menu {
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 450px;
}
.sideBar__footer {
  padding-right: 10px;
  margin-top: 60px;
  display: flex;
}
.sideBar__userInfo {
  margin-left: 10px;
}

.postTweet {
  background-color: #000000;
  display: none;
  position: absolute;
  left: 460px;
  top: 50px;
  width: 600px;
  height: 250px;
  border-radius: 15px;
  padding: 20px;
}
.postTweet__div {
  display: flex;
  justify-content: row;
}
.postTweet__image {
  display: flex;
  flex-direction: column;
}
.postTweet__selectPrivate {
  padding-top: 50px;
}
.postTweet__content {
  padding-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 255px;
}
.postTweet__select {
  padding-bottom: 15px;
}
.postTweet__send {
  border-top: 1px solid #E7E9EA;
  padding-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.postTweet__uploads {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.tweets {
  width: 50%;
  padding: 0px 10px;
}
.tweets__header {
  display: flex;
  justify-content: space-between;
  color: #E7E9EA;
}
.tweets__sendTweet {
  border-bottom: 1px solid #71767B;
  padding-bottom: 10px;
  height: 100px;
  width: 100%;
  display: flex;
}
.tweets__sendTweetContent {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tweets__contentBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.tweets__contentIcons {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 40%;
}
.tweets__item {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #71767B;
  padding-bottom: 10px;
}
.tweets__leftContent {
  display: flex;
}
.tweets__tweetContent {
  margin-left: 15px;
  width: 100%;
}
.tweets__senderInfo {
  width: 100%;
}
.tweets__senderContent {
  width: 100%;
}
.tweets__senderIcons {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.--sideBarHeaderIcon {
  color: #E7E9EA;
  font-size: 30px;
}

.--sideBarMenuIcon {
  color: #E7E9EA;
  font-size: 25px;
}

.--sideBarFooterIcon {
  margin-top: 5px;
  margin-right: 10px;
  color: #E7E9EA;
  font-size: 15px;
}

.--postTweetCloseIcon {
  color: #E7E9EA;
}

.--postTweetIcon {
  color: #1D9BF0;
}

.--tweetsHeaderIcon {
  margin-top: 20px;
}

.--tweetsReactionIcon {
  color: #71767B;
}

.--sideBarMenuSpan {
  color: #E7E9EA;
  margin-left: 20px;
}

.--sideBarFooterUser {
  color: #E7E9EA;
}

.--sideBarFooterUserName {
  color: #71767B;
}

.--tweetsSenderName {
  color: #E7E9EA;
  font-weight: 600;
}

.--tweetsSenderUserName {
  color: #71767B;
}

.--tweetsSenderTime {
  color: #71767B;
}

.--tweetsSenderContent {
  color: #E7E9EA;
}

.--sideBarBtn {
  cursor: pointer;
  background-color: #1D9BF0;
  color: #E7E9EA;
  padding: 15px 80px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s;
}
.--sideBarBtn:hover {
  background-color: #1A8CD8;
}

.--postTweetBtn {
  cursor: pointer;
  background-color: #1D9BF0;
  color: #E7E9EA;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.--footerImage {
  width: 40px;
  height: 40x;
  border-radius: 55px;
}

.--postTweetImage {
  width: 50px;
  height: 50px;
  border-radius: 55px;
  margin-top: 35px;
}

.--tweetsViewSendTweet {
  width: 50px;
  height: 50px;
  border-radius: 55px;
}

.--tweetsSenderPhoto {
  width: 50px;
  height: 50px;
  border-radius: 55px;
}

.--sendTweet {
  margin-top: 10px;
  width: 100%;
  background: none;
  border: none;
  padding-top: 5px;
  color: #71767B;
  font-size: 20px;
}
.--sendTweet:focus {
  outline: none;
}
.--sendTweet::-moz-placeholder {
  color: #71767B;
  font-size: 20px;
}
.--sendTweet:-ms-input-placeholder {
  color: #71767B;
  font-size: 20px;
}
.--sendTweet::placeholder {
  color: #71767B;
  font-size: 20px;
}

.--postTweetSelect {
  color: #1D9BF0;
  -webkit-appearance: none;
  background: none;
  border: none;
  font-family: "Roboto", "FontAwesome";
}
.--postTweetSelect:focus {
  outline: none;
}

.--active {
  display: block;
}

.--bluur {
  background-color: #242D34;
}

body {
  padding: 0;
  background-color: #000000;
  font-family: "Roboto";
}
body .container {
  margin: 0px 150px;
  display: flex;
}/*# sourceMappingURL=main.css.map */