@import 'variables/colors';
@import 'layout/sideBar';
@import 'layout/postTweet';
@import 'components/icons';
@import 'components/spans';
@import 'components/buttons';
@import 'components/images';
@import 'components/inputs';

body{
    padding: 0;
    background-color: $mainBg;
    .container{
        margin: 0px 150px;
    }
}