@import 'variables/colors';
@import 'layout/sideBar';
@import 'layout/postTweet';
@import 'layout/tweetsView';
@import 'layout/flow';
@import 'components/icons';
@import 'components/spans';
@import 'components/buttons';
@import 'components/images';
@import 'components/inputs';
@import 'jsClasses/jsClasses.scss';

body{
    padding: 0;
    background-color: $mainBg;
    font-family: 'Roboto';
    .container{
        margin: 0px 150px;
        display: flex;
    }
}