//sideBarButtons
.--sideBarBtn{
    cursor: pointer;
    background-color: $sideBarButton;
    color: $sideBarIcons;
    padding: 15px 80px;
    border-radius: 25px;
    transition: 0.2s;
    &:hover{
        background-color: $sideBarButtonHover;
    }
}

.--postTweetBtn{
    cursor: pointer;
    background-color: $sideBarButton;
    color: $sideBarIcons;
    padding: 7px 12px;
    border-radius: 20px;
    border: none;
}