//sideBarIcons
.--sideBarHeaderIcon{
    color: $sideBarIcons;
    font-size: 30px;
}

.--sideBarMenuIcon{
    color: $sideBarIcons;
    font-size: 25px;   
}

.--sideBarFooterIcon{
    margin-top: 5px;
    margin-right: 10px;
    color: $sideBarIcons;
    font-size: 15px;
}

.--postTweetCloseIcon{
    color: $sideBarIcons;
}

.--postTweetIcon{
    color: $sideBarButton;
}

//tweetsView
.--tweetsHeaderIcon{
    margin-top: 20px;
}

.--tweetsReactionIcon{
    color: $sideBarUserInfoSpan;
}

//flow
.--flowSearchIcon{
    color: $flowSearchIcon;
    font-size: 17px;
}
.--agendaItemIcon{
    color: $flowSearchIcon;
}

