//sideBarIcons
.--sideBarHeaderIcon{
    color: $sideBarIcons;
    font-size: 30px;
    padding: 10px;
    border-radius: 55px;
    width: fit-content;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
        background-color: $flowHeaderBg;
    }
}

.--sideBarMenuIcon{
    color: $sideBarIcons;
    font-size: 25px;  
    cursor: pointer; 
}

.--sideBarFooterIcon{
    margin-top: 5px;
    margin-right: 10px;
    color: $sideBarIcons;
    font-size: 15px;
    cursor: pointer;
}

.--postTweetCloseIcon{
    color: $sideBarIcons;
    cursor: pointer;
}

.--postTweetIcon{
    color: $sideBarButton;
    cursor: pointer;
}

//tweetsView
.--tweetsHeaderIcon{
    margin-top: 20px;
    cursor: pointer;
}

.--tweetsReactionIcon{
    color: $sideBarUserInfoSpan;
    cursor: pointer;
}

//flow
.--flowSearchIcon{
    color: $flowSearchIcon;
    font-size: 17px;
    cursor: pointer;
}
.--agendaItemIcon{
    color: $flowSearchIcon;
    cursor: pointer;
}

