.--sendTweet {
    width: 100%;
    background: none;
    border: none;
    padding-top: 5px;
    color: $sideBarUserInfoSpan;
    font-size: 20px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $sideBarUserInfoSpan;
        font-size: 20px;
    }
}

.--postTweetSelect {
    color: $sideBarButton;
    -webkit-appearance: none;
    background: none;
    border: none;

    &:focus {
        outline: none;
    }
}