//sideBarSpans
.--sideBarMenuSpan{
    color: $sideBarIcons;
    margin-left: 20px;
    font-weight: 500;
    font-size: 17px;
}

.--sideBarFooterUser{
    color: $sideBarIcons;
}

.--sideBarFooterUserName{
    color: $sideBarUserInfoSpan;
}

//tweetsView
.--tweetsSenderName{
    color: $sideBarIcons;
    font-weight: 600;
}

.--tweetsSenderUserName{
    color: $sideBarUserInfoSpan;
}

.--tweetsSenderTime{
    color: $sideBarUserInfoSpan;
}

.--tweetsSenderContent{
    color: $sideBarIcons;
}

//flow
.--agendaTitle{
    color: $flowSearchIcon;
    font-size: 12px;
}
.--agendaHashTag{
    color: $sideBarIcons;
    font-weight: 600;
}
.--agentaTweetCount{
    color: $flowSearchIcon;
    font-size: 12px;
}
.--flowShowMore{
    color: $sideBarButton;
    font-weight: 300;
    font-size: 14px;
}
.--followPerson{
    color: $sideBarIcons;
    font-weight: 600;
    font-size: 13px;
}

//messages
.--messagesTitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}