//sideBarSpans
.--sideBarMenuSpan{
    color: $sideBarIcons;
    margin-left: 20px;
}

.--sideBarFooterUser{
    color: $sideBarIcons;
}

.--sideBarFooterUserName{
    color: $sideBarUserInfoSpan;
}

//tweetsView
.--tweetsSenderName{
    color: $sideBarIcons;
    font-weight: 600;
}

.--tweetsSenderUserName{
    color: $sideBarUserInfoSpan;
}

.--tweetsSenderTime{
    color: $sideBarUserInfoSpan;
}

.--tweetsSenderContent{
    color: $sideBarIcons;
}