.flow {
    border-left: 1px solid $sideBarUserInfoSpan;
    width: 30%;
    padding-left: 25px;
    padding-right: 150px;

    &__header {
        background-color: $mainBg;
        width: 21%;
        position: fixed;
        top: 0;
        padding: 5px 0px;
    }

    &__search {
        background-color: $flowHeaderBg;
        padding: 13px 20px;
        border-radius: 25px;
        border: 1px solid $flowHeaderBg;
    }

    &__agenda {
        background-color: $flowHeaderBg;
        padding-top: 5px;
        margin-top: 60px;
        border-radius: 15px;
    }

    &__agendaTitle {
        color: $sideBarIcons;
        padding: 0px 20px;
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: $flowItemHover;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55px;
    }

    &__icon {}

    &__showMore {
        padding: 10px 20px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background-color: $flowItemHover;
        }
    }
    &__followPerson{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            background-color: $flowItemHover;
        }
        img{
            
        }
    }
    &__personInfo{
        margin-left: 10px;
        padding-top: 5px;
        width: 60%;
        display: flex;
        flex-direction: column;
    }
}