.tweets{
    padding: 0px 10px;
    &__header{
        display: flex;
        justify-content: space-between;
        color: $sideBarIcons;
        position: fixed;
        top: 0px;
        width: 34%;
        background-color: $mainBg;
        padding-right: 10px;
    }
    &__sendTweet{
        margin-top: 70px;
        border-bottom: 1px solid $sideBarUserInfoSpan;
        padding-bottom: 10px;
        height: 100px;
        width: 100%;
        display: flex;
    }
    &__image{

    }
    &__sendTweetContent{
        margin-left: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__contentBottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__contentIcons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        width: 40%;
    }
    &__body{

    }
    &__item{
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        padding-top: 10px;
        border-bottom: 1px solid $sideBarUserInfoSpan;
        padding-bottom: 10px;
    }
    &__leftContent{
        display: flex;
    }
    &__senderPhoto{
        position: relative;
        display: inline-block;
        &:hover .--dropDown{
            display: block;
        }
    }
    &__dropDown{
        width: 270px;
        height: 160px;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        background-color: $mainBg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: -2px -1px 15px -4px rgba(255,250,255,1);
        z-index: 1;
    }
    &__dropPhoto{
        display: flex;
        justify-content: space-between;
    }
    &__dropInfo{
        display: flex;
        flex-direction: column;
    }
    &__dropDesc{

    }
    &__dropFollows{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
    &__dropFollowCount{
        display: flex;
    }
    &__dropFollowers{
        display: flex;
    }
    &__tweetContent{
        margin-left: 15px;
        width: 100%;
    }
    &__senderInfo{
        width: 100%;
    }
    &__senderContent{
        width: 100%;
    }
    &__senderIcons{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__tweetIcon{

    }
}